Django>=4.0
djangorestframework>=1.0
pylint-django>=2.0
pyyaml>=5.3.1
numpy >=1.22.1
openpyxl >=3.0.9
pandas >=1.3.5
matplotlib >=3.5.1
seaborn >=0.11.2
PuLP >=2.6.0
scipy >=1.8.0
scikit-learn >=1.0.2
folium >= 0.12.1
pickle5 >=0.0.12
wntr >=0.4.1
xgboost >= 1.1.0
statsmodels >= 0.13.2
xgboost >= 1.1.0
asgiref
astroid
colorama
dill
isort
lazy_object_proxy
mccabe
platformdirs
pylint_django
pylint_plugin_utils
pylint
pytz==2022.7
PyYAML
sqlparse
tomli
tomlkit
typing_extensions
tzdata
wrapt
